.random-wrapper {
  width: 90vw;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: rgb(255, 240, 255); 
  border: 2px solid rgb(114, 106, 221); 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;

  opacity: 0;
  transform: scale(0.95);
  animation: fadeZoomIn 0.6s ease-out forwards;
}

@keyframes fadeZoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.random-wrapper:hover {
  border-color: rgb(180, 140, 255);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.card{
    border:none!important;
margin-bottom:30px
}

.card-body{
    padding:0px !important;
}
.card-img-top{
    object-fit: contain;
}


.card-text{
    font-size:25px;
    color:rgb(114, 106, 221);
font-style: italic;
}


.btnDiv{
    display:flex;
justify-content: center;

}


.btnCat {
  border-radius: 50px!important;   
  padding: 8px 20px
  !important;
background-color: rgb(108, 167, 248) !important;
color:black
!important;
font-weight: bold !important;
margin-right:3px!important
}


.btnDog {
  border-radius: 50px!important;   
  padding: 8px 20px
  !important;
background-color: rgb(108, 167, 248) !important;
color:black
!important;
font-weight: bold !important;
margin-right:3px!important
}


.btnRandom {
  border-radius: 50px!important;   
  padding: 8px 20px
  !important;
background-color: rgb(108, 167, 248) !important;
color:black
!important;
font-weight: bold !important;
margin-right:3px!important
}

